.group__team{
	display: flex;
	flex-direction: column;
	margin: 5% 0 4% 15%;
}

.team{
	&__our-team{
		margin-bottom: 2em;
	}

	&__head{
		@extend %fsheader;
		font-size: 2em;
		margin-bottom: 0;

		& span{
			color: $cl;
		}
	}

	&__desc{
		@extend %fzpara;
		margin-top: 0.5em;
	}

	&__button{
		margin-left: 75%;
	}
}

.team-group{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 2em;
	
	&__man{
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-right: 8%;
		margin-bottom: 5%;
	}

	&__infa{
		display: flex;
		flex-direction: column;
		margin-left: 2em;
	}

	&__name{
		@extend %fsheader;
		font-size: 1.4em;
		margin-bottom: 0;
	}

	&__profession{
		@extend %fzpara;
		color: $cl;
		margin-bottom: 0;
		margin-top: 0.3em;
	}

	&__hobby{
		@extend %fzpara;
		width: 9.2em;
		margin-bottom: 0;
		margin-top: 0.4em;
	}
}

@media (max-width: 800px) and (min-width: 320px) {
	.group__team{
		display: flex;
		flex-direction: column;
		margin: 1.3em;
	}

	.team-group__infa{
		margin-left: 0.5em;
	}

	.team__button{
		margin-left: 0;
	}
}

@media (max-width: 1020px) and (min-width: 601px) {
	.group__team{
		margin-left: 9%;
		margin-right: 0;
	}
	.team__button{
		margin-left: 70%;
	}
}